*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(207, 255, 255);

}
.principal{

    text-align: center;
    text-decoration: underline;
    text-decoration-color: #8c0101;
}

.card {
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-body {
    text-align: center;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.card-text {
    margin-bottom: 15px;
}
.btn-primary {
    width: 100%;
}

.profile-section {
    text-align: center;
    margin-top: 50px;
}
.profile-icon {
    font-size: 80px;
    color: #333;
}
.profile-name {
    font-size: 24px;
    margin-top: 20px;
}
.profile-email {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}
.container-form {
    display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
}
.form-check{
	display: flex;
	justify-content: center;
}
.form-check-input{
	position: relative;
}
#estudiante{
	padding-left: 50 px;
}

.cuadro {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  }

  .containerDatosTotales {
    margin-top: 20px;
    margin: 80px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
  }
