<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link de Boostrap y estilo de header y footer--> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/mainIndex.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/error.css')}}">
    <title>Aplicacion Asistencias</title>
</head>
<body>
    <h1> Asistencias Colegio</h1>
    <a href = "/logout"> Salir de sesion</a>
    
    <footer>
        <div class="footer-content">
            <h3>Colegio</h3>
            <p>Descripcion del colegio</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></li>
                <li><a href="#"><i class="fa fa-instagram"></i></li>
                <li><a href="#"><i class="fa fa-twitter"></i></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 Joaquin Ruiz y Juan Ignacio Latorre. designed by <span>Programadores</span></p>
            </div>
             {% if error %}
             <div id="mensaje-error">
                 {{ error }}
                 <button id="cerrar-btn">Cerrar</button>
             </div>
            {% endif %}
            
            
        </footer>
    <script src="https://kit.fontawesome.com/7c935897fa.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/main.js') }}"></script>
    </body>
</html>