<!DOCTYPE html>
<html>
   <head>
    <title>Aplicacion Asistencias</title>
    <link>
  </head>   
   <body>     
	 <form action="http://localhost:5000/iniciarSesion.html" method="post">
      <label for="usuario">Usuario:</label>
      <input type="text" name="usuario" placeholder = usuario >

      <label for="contrasenia">Contraseña:</label>
      <input type="password" name="contraseña" placeholder = contraseña >

      <label for="rol">Rol:</label>
          <select name= "rol">
          <option value = "preceptor" > Preceptor </option>
          <option value = "padre" > Padre </option>
        </select>
      <button type="submit" value = "Guardar"> Enviar </button>
</form>

   </body>
</html>